{% extends 'base_with_menu.html' %}
{% block content %}

{% load filters %}

<h1 class="display-5 mt-4">Летим <span data-test="from">{{ departure }}</span></h1>

<p class="mb-4">Найдено <span data-test="tourcount">{{ tours|length }}</span> туров, от
    <span data-test="pricemin">{{ tours|min_by_key:"price" }}</span>
    до <span data-test="pricemax">{{ tours|max_by_key:"price" }}</span>
    и от <span data-test="nightsmax">{{ tours|min_by_key:"nights" }}</span> ночей
    до <span data-test="nightsmax">{{ tours|max_by_key:"nights" }}</span> ночей</p>

<!-- CARDS -->
<div class="row mt-5" data-test="cards">
    {% for id, tour in tours.items %}
    <div class="col-4" data-test="card">
        <div class="card mb-3">
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
                <h5 class="card-title">{{ tour.title }}</h5>
                <p class="card-text">{{ tour.description }}</p>
                <a href="" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}