{% extends 'base_with_menu.html' %}
{% block content %}

<!-- HERO -->
<div class="jumbotron text-center mt-4" style="background-image: url(https://avatars.mds.yandex.net/get-pdb/25978/c392ccfb-4f11-4cb0-96c0-97bd99d9d90c/s1200?webp=false);
    background-size: cover;">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">{{ subtitle }}</p>
    <p class="mt-5 w-50 mx-auto">{{ description }}</p>
</div>

<!-- CARDS -->
<div class="row mt-5" data-test="cards">
    {% for id, tour in tours.items %}
    <div class="col-4" data-test="card">
        <div class="card mb-3">
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
                <h5 class="card-title">{{ tour.title }}</h5>
                <p class="card-text"> {{ tour.description }}</p>
                <a href="{% url 'tour_detail' id %}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}